/* Стили для страницы "Для будущей жены" */
.content-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.content-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content-container p {
    font-size: 18px;
    line-height: 1.6;
}

/* Стили для шапки */
.header {
    background-color: #f5eef8;
    height: 50px;
    line-height: 50px; /* для вертикального выравнивания содержимого */
    text-align: center;
}

.menu-container {
    display: flex;
    justify-content: center;
}

.menu-item {
    margin: 0 10px;
}

/* Стили для пунктов меню */
.menu-link {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #f5eef8; /* Цвет по умолчанию */
    color: #000000; /* Цвет текста по умолчанию */
}

/* Стили для активной страницы в меню */
.active .menu-link {
    background-color: #ffffff; /* Цвет фона для активной страницы */
    color: #000000; /* Цвет текста для активной страницы */
}


/* Стили для подвала */
.footer {
    background-color: #f5eef8;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Стили для блоков */
.blocks-container {
    display: flex;
    flex-direction: column;
}

.block {
    margin-bottom: 20px;
}

.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.block-title {
    font-size: 20px;
}

.prev-btn,
.next-btn {
    background-color: #f5eef8;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

/* Стили для основного контейнера */
.grid-container {
    display: flex;
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    overflow-y: hidden; /* Отключаем вертикальную прокрутку */
    gap: 10px; /* Расстояние между карточками */
    padding: 20px;
    white-space: nowrap; /* Карточки остаются в одной строке */
}

/* Базовые стили для карточек (квадратов) */
.card {
    width: 215px; /* Измените размеры, если необходимо */
    height: 300px; /* Измените размеры, если необходимо */
    border-radius: 10px;
    perspective: 1000px; /* Добавляем перспективу для 3D-эффекта */
    position: relative; /* Устанавливаем позицию относительно контейнера */
}

.card::before {
    content: attr(data-card-number); /* Добавляем нумерацию карточек */
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 5px;
    border-radius: 5px;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Скрытие обратной стороны карточки */
    border-radius: 10px;
}

.card-front {
    background-color: #ffffff; /* Цвет фона передней стороны */
    transform: rotateY(0deg); /* Передняя сторона карточки */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Выравнивание текста по нижнему краю */
    text-align: center;
    z-index: 2; /* Устанавливаем индекс слоя для передней стороны */
}

.card-back {
    background-color: #ffffff; /* Цвет фона задней стороны */
    transform: rotateY(180deg); /* Задняя сторона карточки (начально скрыта) */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1; /* Устанавливаем индекс слоя для задней стороны */
}

.card:hover .card-front {
    transform: rotateY(-180deg); /* Поворот при наведении мыши */
}

.card:hover .card-back {
    transform: rotateY(0deg); /* Поворот при наведении мыши */
}

.card-content {
    padding: 20px;
}

.card h2 {
    font-size: 16px;
    margin: 0;
    color: #ffffff; /* Белый цвет текста */
    position: relative;
    z-index: 3;
}

.card p {
    font-size: 14px;
    margin: 0;
}

.card {
    position: relative; /* Установим позицию относительно контейнера */
}

.card-title {
    position: absolute; /* Для позиционирования текста названия относительно родительской карточки */
    bottom: 20px; /* Поднимаем на 8px от нижнего края */
    left: 0; /* Выравниваем по левому краю */
    width: 100%; /* Ширина на всю ширину карточки */
    text-align: center; /* Выравнивание текста по центру */
    z-index: 2; /* Помещаем текст названия над подложкой */
}

.card-title::after {
    content: ''; /* Создаем псевдоэлемент */
    position: absolute; /* Абсолютное позиционирование */
    bottom: 0; /* Размещаем в нижней части */
    left: 0; /* Выравниваем по левому краю */
    width: 100%; /* Ширина на всю ширину карточки */
    height: 25px; /* Высота подложки */
    background-color: rgba(0, 0, 0, 0); /* Черный цвет с прозрачностью */
    z-index: 1; /* Помещаем подложку под текстом названия карточки */
}

/* Пример для установки изображения в качестве фона */
.card1 .card-front {
    background-image: url('photo1.png'); /* Замените на ваше изображение */
    background-size: cover; /* Масштабируем изображение, чтобы оно полностью покрывало фон */
    background-position: center; /* Выравниваем изображение по центру */
}

.card2 .card-front {
    background-image: url('photo1.png'); /* Замените на ваше изображение */
    background-size: cover; /* Масштабируем изображение, чтобы оно полностью покрывало фон */
    background-position: center; /* Выравниваем изображение по центру */
}


/* Медиа-запрос для мобильных устройств с шириной экрана до 768px */
@media only screen and (max-width: 768px) {
    .grid-item {
        max-width: calc(50% - -5px); /* Максимальная ширина карточки равна половине ширины экрана с учетом расстояния между карточками */
    }
}

/* Медиа-запрос для устройств с шириной экрана до 480px */
@media only screen and (max-width: 480px) {
    .grid-item {
        max-width: calc(100% - 10px); /* Максимальная ширина карточки равна ширине экрана с учетом расстояния между карточками */
    }
}
